$color-black: #000000;
$color-light-gray: #d1d2d4;
$color-dark-gray: #717271;
$color-blue: #5FB3E4;
$color-dark-blue: #0D6EFD;
$color-red: #FF0D26;
$color-orange: #FF7300;
$color-light-black: #3A3737;
$color-green: #00BE7E;
$color-white: #FFFFFF;
$color-background: #F1F2F2;
$color-blue-gray-50: #51596C;

$color-gray-10: #F1F2F2;
$color-gray-15: #F5F7FA;
$color-gray-20: #E5E5E5;
$color-gray-25: #DCE4EF;
$color-gray-30: #A2A2A2;
$color-gray-40: #707272;

$color-blue-gray-50: #51596C;
